/* CSS from create-react-app */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS we have added */

.singleMovie {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.ui.small.image {
  margin: 1em 0;
  max-height: 222px;
}

.order-button-container {
  padding-top: 1em;
}

#root {
  /* background-color: #301934 !important; */
  background-image: url(https://media.istockphoto.com/id/1273929462/photo/purple-defocused-blurred-motion-abstract-background.webp?b=1&s=170667a&w=0&k=20&c=YbaYi00O7A07AVuFpvSH1-VjcVg37HduYExjsXW2ESM=) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

html *:not(h1.title) {
  font-family: 'Bricolage Grotesque', sans-serif !important;
}

label,
div.column,
button.ui.labeled.mini.button {
  color: white !important;
}

label.ui.label {
  color: black !important;
}

.header-link {
  color: black;
  font-size: initial;
}

.header-link:hover {
  color: white;
}

.no-results {
  color: white;
}

img.ui.small.image:hover {
  border-style: solid;
  border-color: goldenrod;
}

#menu {
  background-color: goldenrod !important;
  padding: 0.4em;
}

p {
  font-size: medium;
}

p.ticket-quantity {
  margin: 0;
}

h1.title {
  font-size: xx-large;
  font-family: 'Rye', cursive !important;
  padding-right: 0.3em;
}